%h1= "EDIT: #{params[:year]}/#{params[:month]}"

%p Enter for submit

%table.table.table-condensed#edit
  - (@first_day..@last_day).each do |date|
    - tr_class = "palette palette-peter-river" if date.saturday?
    - tr_class = "palette palette-pomegranate" if date.sunday? or date.holiday?
    %tr
      - day = date.day
      - start_time = @stamps[day].created_at rescue 0
      - end_time = @stamps[day].updated_at rescue 0
      %td= day
      %td.start_time= input_tag :text, placeholder: (start_time.strftime('%H:%M') rescue '-'), class: date.day, name: 'start_time'
      %td.end_time= input_tag :text, placeholder:(end_time.strftime('%H:%M') rescue '-'), class: date.day, name: 'end_time'
      /%td= select_tag(:special, :options => ['-', '+4hours', '+8hours'], :selected => '1')
