%h1= "#{params[:year]}/#{params[:month]}"

- time_to_work = weekdays * 8.hours
%h2= "#{format("%.2f", @total_time/1.hour)} of #{(time_to_work/1.hour).to_i} hours worked"

- working_time_today = @stamps[@now.day].working_time rescue 0
- progress = (time_to_work-@total_time-working_time_today)/time_to_work*100
.progress{:title => "#{format("%.1f", progress)}%"}
  .bar{:style=>"width:#{progress}%;"}
  .bar.bar-info{:style=>"width:#{working_time_today/time_to_work*100}%;"}

%table.table.table-condensed
  - (@first_day..@last_day).each do |date|
    - tr_class = "palette palette-peter-river" if date.saturday?
    - tr_class = "palette palette-pomegranate" if date.sunday? or date.holiday?
    - tr_id    = "today" if date.day == @now.to_date.day
    %tr{class: tr_class, id: tr_id}
      - day = date.day
      - start_time = @stamps[day].created_at rescue 0
      - end_time = @stamps[day].updated_at rescue 0
      - working_time = (end_time - start_time).to_i
      - hour, mod = working_time.divmod 1.hour
      - min, sec = mod.divmod 1.minute
      %td= day
      %td.start_time= start_time.strftime('%H:%M') rescue '-'
      %td.end_time= end_time.strftime('%H:%M') rescue '-'
      %td.working_time= format_time(working_time)
