.row#tracking
  %input{ :type =>"checkbox", :'data-toggle' => "switch" }
  %h1= "#{params[:year]}/#{params[:month]}"

  %h2= @left_time.formated

  .progress{:title => "#{format("%.1f", @left_time.total)}%"}
    .bar{:style=>"width:#{@left_time.total}%;"}
    .bar.bar-info{:style=>"width:#{@left_time.today}%;"}

  %table.table.table-condensed
    - (@first_day..@last_day).each do |date|
      - tr_class = "palette palette-peter-river" if date.saturday?
      - tr_class = "palette palette-pomegranate" if date.sunday? or date.holiday?
      - tr_id    = "today" if date.day == @now.to_date.day
      %tr{class: tr_class, id: tr_id}
        - day = date.day
        - start_time = @stamps[day].created_at rescue 0
        - end_time = @stamps[day].updated_at rescue 0
        - working_time = (end_time - start_time).to_i
        %td= day
        %td.start_time= start_time.strftime('%H:%M') rescue '-'
        %td.end_time= end_time.strftime('%H:%M') rescue '-'
        %td.working_time= format_time(working_time)
