%h1= "#{params[:year]}/#{params[:month]}"

%h2= "#{(@total_time/1.hour).to_i}:#{(@total_time%1.hour/1.minute).to_i}"
%table
  - (@first_day..@last_day).each do |date|
    %tr{:class => [date.saturday? && "palette palette-peter-river", |
                     date.sunday? && "palette palette-pomegranate"]}
      - day = date.day
      - start_time = @stamps[day].created_at rescue 0
      - end_time = @stamps[day].updated_at rescue 0
      - working_time = (end_time - start_time).to_i
      - hour, mod = working_time.divmod 1.hour
      - min, sec = mod.divmod 1.minute
      %td= day
      %td= start_time.strftime('%H:%M') rescue '-'
      %td= end_time.strftime('%H:%M') rescue '-'
      %td= if working_time > 0 then format("%02d:%02d", hour, min) else '-' end
