%head
  = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', 'flat-ui'
  = javascript_include_tag 'jquery-1.8.3.min', 'jquery.tagsinput', 'jquery.placeholder', 'bootstrap.min', 'bootstrap-select.js', 'bootstrap-switch', 'application', 'fasttime'
%body
  .navbar
    .navbar-inner
      .container
        .brand= link_to 'FastTime', '/'
        %ul.nav.pull-right
          - if env['warden'].authenticated?
            - if content_for?(:edit)
              = yield_content :edit
            %li= link_to @current_user.name
          - else
            %li= link_to 'login', :login
  .container
    = yield
